In [1]:
#1
import pandas as pd
import numpy as np

In [2]:
#2
pd.__version__

'0.22.0'

In [3]:
#3
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.5.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-22-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.22.0
pytest: None
pip: 9.0.1
setuptools: 39.0.1
Cython: None
numpy: 1.13.3
scipy: 0.19.1
pyarrow: None
xarray: None
IPython: 6.4.0
sphinx: None
patsy: None
dateutil: 2.6.1
pytz: 2018.3
blosc: None
bottleneck: None
tables: 3.4.2
numexpr: 2.6.4
feather: None
matplotlib: 2.1.1
openpyxl: None
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: 4.6.0
html5lib: 0.999999999
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [4]:
#4
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

In [5]:
#5
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None
            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

In [6]:
#6
print(df.iloc[:3])
print(df.head(3))
print(df[:3])

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

In [7]:
#7
print(df.loc[:, ['animal', 'age']])

print(df[['animal', 'age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [8]:
#8
print(df.iloc[[3,4,8]])
print(df.iloc[[3,4,8]][['animal', 'age']])

#found solution
print(df.loc[df.index[[3, 4, 8]], ['animal', 'age']])

   age animal priority  visits
d  NaN    dog      yes       3
e  5.0    dog       no       2
i  7.0    dog       no       2
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [9]:
#9
df.loc[df['visits'] > 3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

In [10]:
#10
df.loc[df['age'].isnull()]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

In [11]:
#11
print(df)
df.loc[(df['animal'] == 'cat') & (df['age'] < 3)]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

In [12]:
#12
#my solution
print(df.loc[(df['age'] >= 2) & (df['age'] <= 4)])

#found solutiom
print(df.loc[df['age'].between(2,4)])

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

In [13]:
#13
df2=df[:]
#print(df)
print(df2)

df2.loc['f', 'age'] = 1.5
print(df2)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

In [14]:
#14
#my solution
print(df.loc[:,'visits'].sum())
print(df['visits'].sum())

19
19

In [15]:
#15
print(df)
df.groupby('animal')['age'].mean()

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [16]:
#16
df2 = df[::]
df2['k'] = [1,2,3,4,5,6,7,8,9,0]
print(df2)
print(df)
df2.drop('k', axis=1, inplace=True)
print(df)
print(df2)

   age animal priority  visits  k
a  2.5    cat      yes       1  1
b  3.0    cat      yes       3  2
c  0.5  snake       no       2  3
d  NaN    dog      yes       3  4
e  5.0    dog       no       2  5
f  1.5    cat       no       3  6
g  4.5  snake       no       1  7
h  NaN    cat      yes       1  8
i  7.0    dog       no       2  9
j  3.0    dog       no       1  0
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
#17
print(df)
print(df.groupby('animal')['animal'].count())

print(df['animal'].value_counts())

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1
animal
cat      4
dog      4
snake    2
Name: animal, dtype: int64
cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [18]:
#18
df.sort_values(by=['age', 'visits'], ascending=[False, True])

   age animal priority  visits
i  7.0    dog       no       2
e  5.0    dog       no       2
g  4.5  snake       no       1
j  3.0    dog       no       1
b  3.0    cat      yes       3
a  2.5    cat      yes       1
f  1.5    cat       no       3
c  0.5  snake       no       2
h  NaN    cat      yes       1
d  NaN    dog      yes       3

In [19]:
#19
df['priority'] = np.where(df['priority']== 'yes', True, False)
df

# dfdf[['priority''priori ] = df['priority'].map({'yes': True, 'no': False})

   age animal  priority  visits
a  2.5    cat      True       1
b  3.0    cat      True       3
c  0.5  snake     False       2
d  NaN    dog      True       3
e  5.0    dog     False       2
f  1.5    cat     False       3
g  4.5  snake     False       1
h  NaN    cat      True       1
i  7.0    dog     False       2
j  3.0    dog     False       1

In [20]:
#20
print(df)
df2=df.copy()
#print(df)
#print(df2)
df.loc[df['animal'] == 'snake', 'animal'] = 'python'
df

##tried this, but did not worked
##df['animal'] = df['animal'].replace('snake', 'python')

   age animal  priority  visits
a  2.5    cat      True       1
b  3.0    cat      True       3
c  0.5  snake     False       2
d  NaN    dog      True       3
e  5.0    dog     False       2
f  1.5    cat     False       3
g  4.5  snake     False       1
h  NaN    cat      True       1
i  7.0    dog     False       2
j  3.0    dog     False       1

   age  animal  priority  visits
a  2.5     cat      True       1
b  3.0     cat      True       3
c  0.5  python     False       2
d  NaN     dog      True       3
e  5.0     dog     False       2
f  1.5     cat     False       3
g  4.5  python     False       1
h  NaN     cat      True       1
i  7.0     dog     False       2
j  3.0     dog     False       1

In [21]:
#21
#my solution
print(pd.pivot_table(df, values='age', index=['animal'], columns=['visits'], aggfunc=np.mean))
#found solution
print(df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean'))

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN
visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

In [22]:
#22
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(df)
#print(df.loc[df['A'].shift()])
#print(df['A'])
print(df.loc[df['A'].shift() != df['A']])

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7
   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [23]:
#23
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
print(df)
df3 = df.subtract(df.mean(axis=1), 0)
df3

#df.sub(df.mean(axis=1), 0)

          0         1         2
0  0.422239  0.637149  0.755216
1  0.141199  0.555407  0.938638
2  0.784608  0.671006  0.191461
3  0.375550  0.413571  0.664755
4  0.518820  0.328206  0.756898

          0         1         2
0 -0.182629  0.032281  0.150348
1 -0.403882  0.010326  0.393556
2  0.235583  0.121981 -0.357564
3 -0.109075 -0.071054  0.180130
4 -0.015822 -0.206435  0.222257

In [24]:
#24
#my solution
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)
df2 = df.sum(axis=0).sort_values()
print(df2)
df2.index[0]

#found solution
#df.sum().idxmin()
df3 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df3)
df3.sum().idxmin()

          a         b         c         d         e         f         g  \
0  0.839298  0.322216  0.319145  0.604816  0.017044  0.139803  0.221240
1  0.482388  0.678194  0.621691  0.554610  0.577741  0.353480  0.840435
2  0.160933  0.736993  0.575707  0.505415  0.041308  0.892514  0.928691
3  0.152722  0.411282  0.902987  0.763173  0.869146  0.181640  0.599399
4  0.271631  0.243672  0.784843  0.995828  0.629761  0.833875  0.956402

          h         i         j
0  0.738119  0.744662  0.605115
1  0.195449  0.920088  0.955766
2  0.611765  0.623186  0.797833
3  0.677380  0.277461  0.359114
4  0.841466  0.324107  0.216251
a    1.906971
e    2.135000
b    2.392357
f    2.401312
i    2.889504
j    2.934079
h    3.064178
c    3.204373
d    3.423842
g    3.546168
dtype: float64
          a         b         c         d         e         f         g  \
0  0.898755  0.330157  0.529910  0.472124  0.879848  0.406008  0.138640
1  0.983565  0.426081  0.961349  0.092856  0.298237  0.187457  0.700553
2  0.199858  0.621984  0.668505  0.300082  0.097077  0.823209  0.894908
3  0.901283  0.632775  0.133214  0.143079  0.096827  0.432261  0.349758
4  0.925177  0.625016  0.275552  0.933480  0.704075  0.110167  0.556832

          h         i         j
0  0.562861  0.683423  0.035685
1  0.464217  0.998185  0.594255
2  0.934988  0.187437  0.874737
3  0.445929  0.784704  0.393499
4  0.114300  0.341789  0.202390

'd'

In [25]:
#25
df = pd.DataFrame([[0,0,0], [0,1,0], [0,0,0], [0,0,2]])
len(df) - df.duplicated(keep=False).sum()


#df[df.nunique(2) == 1)

2

In [37]:
#26
df = pd.DataFrame([[0,np.nan,2,np.nan,4,5,np.nan,np.nan,8,np.nan,10], [0,np.nan,2,np.nan,4,np.nan,np.nan,7,8,np.nan,10], [0,np.nan,2,np.nan,4,np.nan,np.nan,7,8,np.nan,10], [0,np.nan,2,np.nan,4,np.nan,np.nan,7,8,np.nan,10]])

(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

0    6
1    5
2    5
3    5
dtype: int64